* {
    padding: 0;
    margin: 0;
  }
  
  a{
    text-decoration: none;
  }
  .navbar{
    background-color: white;
  }
.header{
  margin-bottom: 5px;
  padding: 15px 0px 15px 0px;
}  
.body_sec{
  padding: 5px;
}


  /*
  .header {
    background-color: aqua;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
  }
  
  nav img {
    height: 50px;
    width: 50px;
  }
  
  .uppermenu {
    flex: 1;
    text-align: right;
  }
  
  nav ul li {
    display: inline-block;
    padding: 8px 12px;
    color: rgb(97, 37, 37);
    position: relative;
  }
  
  nav ul li::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    margin: auto;
    background-color: brown;
    transition: 0.2s;
  }
  
  nav ul li:hover:after {
    width: 100%;
    transition: all 0.2s ease-in-out;
  } */
 
   .blogs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    margin-top: 3rem;
    padding: 50px;
    margin: 10px;
  }
  

  .blogs .blog {
    position: relative;
    background-color: var(--color-grey-5);
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .blogs .blog:hover {
    -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .blogs .blog:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
  }
  
  .blogs .blog img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  .blogs .blog .blog-text {
    margin-top: -7px;
    padding: 1.1rem;
    border-top: 8px solid var(--color-secondary);
  }
  
  .blogs .blog .blog-text h4 {
    font-size: 1.5rem;
    margin-bottom: .7rem;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: pointer;
  }
  
  .blogs .blog .blog-text h4:hover {
    color: dodgerblue;
  }
  
  .blogs .blog .blog-text p {
    color: var(--color-grey-2);
    line-height: 2rem;
    padding-bottom: 1rem;
  }